.candidate-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

margin-top:30px;

}

.card{

background:#fff;

border-radius:20px;

padding:20px;

text-align:center;

cursor:pointer;

border:3px solid transparent;

transition:.3s;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.card:hover{

transform:translateY(-6px);

}

.card.selected{

border:3px solid #D80027;

transform:scale(1.03);

box-shadow:0 12px 30px rgba(216,0,39,.25);

}

.card img{

width:120px;

height:120px;

object-fit:cover;

border-radius:100px;

margin-bottom:15px;

}

.number{

font-size:28px;

font-weight:bold;

color:#D80027;

}

.name{

font-size:22px;

font-weight:bold;

margin-top:10px;

}

.motto{

margin-top:8px;

font-size:14px;

color:#666;

}

#voteButton{

margin-top:35px;

}

.modal{

display:none;

position:fixed;

left:0;

top:0;

width:100%;

height:100%;

background:rgba(0,0,0,.5);

justify-content:center;

align-items:center;

}

.modal-content{

background:white;

padding:35px;

border-radius:20px;

width:350px;

text-align:center;

}

.modal-button{

display:flex;

gap:15px;

margin-top:30px;

}

.cancel{

background:#999;

}

.confirm{

background:#D80027;

}
